
body {background-color: white;
}
@import url(https://fonts.googleapis.com/css?family=roboto);
h1, p {color: black;
	font-size-adjust: 40px;
	text-align: center;
	font-family: 'roboto', sans-serif; 
}
img {
	display: block;
	margin: auto;
	width: 40%;
}


